span.Avatar.lastPostedUserAvatar {
  width: 20px;
  height: 20px;
  position: relative;
  right: -20px;
  top: -38px;
  margin-bottom: -33px;
  border: 1px dotted @primary-color;
  font-size: 10px;
}
img.Avatar.lastPostedUserAvatar {
  width: 20px;
  height: 20px;
  position: relative;
  right: -20px;
  top: -38px;
  margin-bottom: -33px;
  border: 1px dotted @primary-color;
  font-size: 10px;
}
/*@media (min-width: 768px) {
  .DiscussionListItem-content {
    margin-bottom: -10px;
  }
}*/
